.banner-container{
    display: flex;
    background-image: url("./new-year-new-me/images/banner/banner1.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
margin-left: 600px;
margin-top: 300px;
}
.greet{
    color:  #151414;
    text-align: right;
    font-family: Work Sans;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    margin-left: 1000px;
    
}
.para{
    color:  #4b4848;
text-align: right;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.btn{
    color: #FFF;
text-align: right;
font-family: Work Sans;
font-size: 25px;
font-style: normal;
font-weight: 20px ;
line-height: normal;
background-color: red;
margin-left: 1500px;
padding: 20px 25px ;
border: none;
border-radius: 5px;
text-align: center;

}
.section-one{
    display: flex;
    justify-content:space-around;
    text-align: center;
    
}
.icon{
    margin-top: 200px;
    margin-left:400px;
}
.text{
    margin-right: 460px;
    margin-top: 350px;
    text-align: left;
}
.tile{
    color: var(--dark-01, #151414);
font-family: Work Sans;
font-size: 60px;
font-weight: bold;
line-height: normal;
}
.des{
    color: var(--dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    text-align: left; 
    margin-bottom: 20px;
}
.list{
    
text-align: left ;
justify-content: left ;
}
.me{

    color: var(--dark-01, #151414);
    font-family: Work Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
}
.box {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 250px;
    margin-bottom: 150px;
}
    
  
.cat{
    color: var(--dark-01, #151414);
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;     
    }
.dog{
    color: var(--dark-03, #737272);
    text-align: auto;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;   
}
.mango{
    background-image: url(./new-year-new-me/images/watch.png);
height: 300px;
flex-shrink: 0;
text-align: center;
justify-content: left;
border-radius: 8px;
margin-left: 700px;
background-repeat: no-repeat;
background-blend-mode: overlay;
margin right: 200px ;

}


.plus{
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding-right: 1090px;
    padding-top: 50px;
display: flex;

flex-direction: column;
flex-shrink: 0;


}
.tea{
    color: #F15B22;
    text-align: center;
    font-family: Work Sans;
    font-size: medium;
    
    font-weight: bold;
    line-height: normal;
    padding-right: 36px;
    padding-left: 36px;
    padding-bottom: 20px;
    padding-top: 20px;
    border: none;
    border-radius: 5px;
    margin-right: 1200px;
}