.banner-container{
    display: flex;
    background-image: url("./new-year-new-me/images/banner/banner1.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
margin-left: 600px;
margin-top: 300px;
}
.greet{
    color:  #151414;
    text-align: right;
    font-family: Work Sans;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    margin-left: 1000px;
    
}
.para{
    color:  #4b4848;
text-align: right;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.btn{
    color: #FFF;
text-align: right;
font-family: Work Sans;
font-size: 25px;
font-style: normal;
font-weight: 20px ;
line-height: normal;
background-color: red;
margin-left: 1500px;
padding: 20px 25px ;
border: none;
border-radius: 5px;
text-align: center;

}